.navbar {
  padding: 0;

  .menu-header-container { width: 100% }

  ul {
    display: flex;
    width: 100%;
    flex-direction: row;

    background-color: $gray-800;

    li {
      border-left: 1px solid $gray-900;
      background-color: $gray-700;

      a { 
        display: block;
        width: 100%;

        padding: $gutter_sm $gutter_lg;
        color: $gray-300;
      }

      &.active {
        background-color: $gray-900;
        box-shadow: -2px 0 3px -3px rgba(0,0,0,0.50), 2px 0 3px -3px rgba(0,0,0,0.50);

        a { color: $text-color; }
      }

      &:first-child {
        border-left: none;
      }
    }
  }
}

.navbar--title {
  background-color: $blue;
  padding: 0 $gutter_lg;
  height: 25px;

  p { margin-bottom: 0; }

  a {
    margin-right: 1em;
    text-decoration: none;

    opacity: .8;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
  
  .social-icons {
    img { height: 22px; }
  }
}